/**===common==**/
p {
    margin: 0px;
}

.text_center {
	text-align:center;
}

/**==================================通知画面============================================**/
.notice-div{
	display: block;
	width: 85%;
	margin:0 auto;
	border-bottom: 0.5px solid rgba(187, 187, 187, 0.5);
}

.notice-div img{
	width: 20%;
    margin: 0rem auto 3rem auto;
    display: block;
    padding-top:3rem;
}

.notice-div .buysuccess{
	color: #6f6f6f;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.notice-buy-again{
	display: block;
	width: 100%;
	margin: 2rem 0;
}

.notice-buy-again a{
	display: block;
    width: 30%;
    margin: 0 auto;
    height: 3rem;
    background: #fff;
    text-decoration: none;
    line-height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    color: #FA6D72;
    border: 1px solid #FA6D72;
    border-radius: 5px;
}

.notice-backgroud{
	background: #fff;
}

.pc_info_div{
}

.pc_info_div img{
	width:100%;
}

.dialog-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    background: rgba(0,0,0,0.6);
}

.dialog-window {
    padding: 2em 3em;
    border-width: 0;
    border-radius: 10px;
    background: rgba(0,0,0,0.8);
}

.dialog-content {
    text-align: center;
    padding: 1em;
    color: #fff;
    line-height: 200%;
    font-size: 14px;
}

.dialog-footer {
    width: auto;
    padding: 0 0.6em;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

.dialog-container .dialog-footer a.confrim{
	display: inline-block;
    -webkit-appearance: normal;
    border-radius: 5px;
    margin: 1rem 1em;
    padding: 1rem 2rem;
    font-size: 1rem;
    background: #01A2A2;
    color: #fff;
}
.dialog-container .dialog-footer a.cancel{
	display: inline-block;
    -webkit-appearance: normal;
    border-radius: 5px;
    margin: 1rem 1em;
    padding: 1rem 2rem;
    font-size: 1rem;
    background: red;
    color: #fff;
}

/**==================================错误信息画面============================================**/
.errormsg-dialog{
	position: fixed;
    top: 40%;
    width: 70%;
    margin-left: 15%;
}

.errormsg-modal-body{
	text-align: center;
    color: red;
    background-color: #fff;
    padding: 5px 10px;
}


/**==================================404 page============================================**/
.page-404 {
 	text-align: center;
 	padding-top: 60px;
 	padding-bottom: 125px;
}
.page-404 .number {
	position: relative;
	top: 35px;
	display: inline-block;
	letter-spacing: -10px;
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 128px;
	font-size: 128px;
	font-weight: 300;
	color: #E02222;
	text-align: right;
}
.page-404 .details {
	margin-left: 40px;
	display: inline-block;
	padding-top: 0px;
	text-align: left;
	top: 15px;
	position: relative;
}

/**==================================首页==========================**/
.main_index_pro_tl {
	padding:0;	
    color: #333333;
}

.main_index_pro_tl a {
    color: #333333;
    display: inline-block;
    background: url(../images/more.jpg) no-repeat right center;
    background-size: 10px 10px;
    padding-right: 15px;
    margin: 8px 15px;
    line-height: 19px;
    font-size: 12px;
    background-color: white;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: 11px system-ui;
    color: inherit;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0px;
}

.u-flyer {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	position: fixed;
	z-index: 9999;
}

.add-border{
	border: 1px solid rgba(158, 158, 158, 0.51);
    border-radius: 5px;
}
    