/* BEGIN product page */
.product-page {
	background: #fff;
	padding: 22px;
	position: relative;
}
.product-main-image {
	margin-bottom: 20px;
}
.product-main-image img {
	width: 100%;
}
.product-other-images {
	text-align: left;
}
.product-other-images img {
	width: 58px;
	height: auto;
	margin: 0 12px 12px 0;
}
.product-other-images a:hover img,
.product-other-images a.active img {
	box-shadow: 0 0 0 2px #c7ced5;
}
.product-page h1 {
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 12px;
}
.price-availability-block {
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 12px;
	margin-bottom: 17px;
}
.price-availability-block .price {
	float: left;
	font-family: 'PT Sans Narrow', sans-serif;
}
.price-availability-block .price strong {
	color: #e84d1c;
	font-size: 35px;
	font-weight: normal;
}
.price-availability-block .price strong span {
	font-size: 25px;
}
.price-availability-block .price em {
	font-style: normal;
	color: #bbb;
	font-size: 17px;
}
.price-availability-block .price em span {
	font-size: 23px;
	text-decoration: line-through;
}
.price-availability-block .availability {
	float: right;
	color: #7b8a99;
}
.price-availability-block .availability strong {
	font-weight: normal;
	color: #3e4d5c;
}

.product-page-options {
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	padding: 20px 0;
	margin-bottom: 20px;
	width: 100%;
	overflow: hidden;
}
.product-page-options .pull-left {
	margin-right: 40px;
}
.product-page-options .pull-left:last-child {
	margin-right: 0;
}
.product-page-options label {
	font-weight: normal;
	text-transform: uppercase;
	color: #8e9ca8;
	font-family: "PT Sans Narrow", sans-serif;
	float: left;
	margin-right: 10px;
	padding-top: 5px;
}
.product-page-options select.input-sm {
	float: left;
	width: auto;
}

.product-page-cart {
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 20px;
	margin-bottom: 18px;
}
.product-quantity,
.product-quantity .input-group {
	width: 70px;
	float: left;
	margin-right: 20px;
	position: relative;
}
table .product-quantity,
table .product-quantity .input-group {
	margin-right: 0;
}
.product-page-cart .btn {
	padding: 7px 20px;
	font-size: 13px;
	height: 38px;
}
.product-quantity input.form-control {
	border: none;
	background: #edeff1 !important;
	font: 300 23px 'Open Sans', sans-serif;;
	color: #647484;
	height: 38px;
	width: 50px;
	text-align: center;
	padding: 5px;
}
.product-quantity input.form-control:focus {
	border: none;
}

.product-quantity .input-group-btn {
	position: static;
}
.product-quantity .btn {
  text-align: center;
  height: 18px !important;
  width: 18px;
  padding: 0 2px 0 1px !important;
  text-align: center;
  background: #edeff1;
  border-radius: 0 !important;
  font-size: 18px !important;
  line-height: 1 !important;
  color: #616b76;
  margin: 0 !important;
  position: absolute;
  right: 0;
}
.product-quantity .quantity-up {
  top: 0;
}
.product-quantity .quantity-down {
  bottom: 0;
}
.product-quantity .btn i {
	position: relative;
	top: -2px;
	left: 1px;
}

.product-page .review {
	color: #6e7a85;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 18px;
	margin-bottom: 20px;
	font-weight: 300;
}

.product-page .rateit {
	margin-right: 27px;
	position: relative;
	top: 2px;
}
.product-page .review a {
	color: #e6400c;
}
.product-page .social-icons li a {
	background-position: 0 -38px;
	opacity: 1;
}

/* product pop up */
.product-pop-up {
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	background: inherit;
}
.product-pop-up .product-quantity, .product-pop-up .product-quantity .input-group {
	margin-right: 15px;
}
.product-pop-up .product-page-cart .btn {
	padding: 7px 5px;
}
.product-pop-up .btn-primary {
	margin-right: 10px;
}

.product-page-content {
	width: 100%;
	overflow: hidden;
	padding: 50px 13px 0;
}
.nav-tabs {
	border-color: #e6400c;
	text-transform: uppercase;
	font: 16px/1 "PT Sans Narrow", sans-serif;
	padding-bottom: 1px;
}
.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
	background: #edeff1;
	color: #647484;
	border-radius: 0;
	padding: 5px 15px;
	border: none !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background: #e6400c;
	color: #fff;
}
.product-page-content .tab-pane {
	padding: 15px;
}

/* datasheet tab */
.product-page-content .datasheet {
	width: 100%;
}
.product-page-content .datasheet th {
	border-bottom: solid 2px #eee;
	padding-bottom: 5px;
	font-size: 15px;
}
.product-page-content .datasheet td {
	padding: 5px 20px 5px 0;
	border-bottom: solid 1px #eee;
}
.datasheet-features-type {
	font-weight: bold;
}

/* reviews tab */
.reviews-form {
	padding-top: 20px;
}
.reviews-form label {
	font-weight: normal;
}
.reviews-form input.form-control {
	color: #aaa;
}
.review-item {
	width: 100%;
	overflow: hidden;
	border-bottom: solid 1px #eee;
	padding: 0 5px 5px;
	margin: 0 -5px 20px;
}
.review-item-submitted {
	margin-bottom: 5px;
	position: relative;
}
.review-item-submitted strong, 
.review-item-submitted em {
	display: block;
}
.review-item-submitted strong {
	margin-bottom: 3px;
}
.review-item-submitted em {
	font-style: normal;
	color: #bbb;
	font-size: 12px;
}
.review-item-submitted .rateit {
	position: absolute;
	top: 3px;
	right: 0;
}
/* END product page */

/* Date Format */
.input_date_box {
	border: 1px solid #bac7d2;
	width: 167px;
	line-height: 25px;
	padding: 4px 7px;
	outline: none;
}

.myselfcancel {
	position: absolute;
	top: 150px;
	right: 150px;
	width: 50px;
}

.uploadify {
	padding-top: 10px;
}

#index_main_right_box {
	width: 85%;
	height: 100%;
	overflow: hidden;
	display: inline;
	float: left;
	padding-bottom: 10px
}

.textright{
	text-align: right
}

.textcenter{
	text-align: center
}

.textleft{
	text-align: left
}

.form_oztt{
	padding-bottom: 35px
}

.mybtn{
	margin-right:15px;
}

/* paginations */
.pagination {
	border-radius: 0;
	margin: 0;
}
.pagination > li {
    display: inline-block;
    margin-left: 5px;
}
.pagination > li > a, .pagination > li > span,
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span {
	border-radius: 25px !important;
	border: none;
	color: #868c93;
}
.pagination > li > span,
.pagination > li > span:hover {
	background: #555;
	color: #fff;
}
.pagination > li:first-child > a,
.pagination > li:last-child > a {
	padding: 4px 12px 8px;
}
.items-info {
	padding-top: 7px;
	color: #868c93;
}


.spanTip{
	color:red;
	font-size: 1.5rem;
}

.div_empty {
  margin: 30px 0px 25px 0px;
  padding-bottom: 5px;
}

/*=======================Production Display Page=====================*/
.item-carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 0%;
    z-index: 15;
    width: 100%;
    padding-left: 0;
    margin-left: 0%;
    text-align: center;
    list-style: none;
}
.item-carousel-indicators li{
    width: 8px;
    height: 8px;
    margin: 0 9px 0 0;
    background: transparent;
    border: solid 2px #c9cdce;
    border-radius: 5px !important;
    z-index: 9999 !important;
    display: inline-block;
    text-indent: -999px;
    cursor: pointer;
}

.iteminfo{
	background-color: #fff;
    padding: 3rem 1rem 0rem 1rem;
}  

.iteminfo .tabInfo span{
	display: inline-block;
    padding: 0px 10px;
    background-color: #FFE4E8;
    line-height: 2rem;
    border: 0.5px solid #FF9298;
    color: #FF9298;
    border-radius: 3px !important;
    height: 2rem;
    margin: 3px 5px;
}

.iteminfo .item-goodsname{
	font-size: 2rem;
}

.iteminfo .item-disprice{
	font-size: 2rem;
	color: #FA6D72;
}

.iteminfo .item-nowprice{
	font-size: 1.5rem;
	text-decoration: line-through;
}

.item-timeword{
	
}

.item-timeword-padding{
	padding: 0px 10px;
}

.item-countdown{
	float: left;
	margin-left: 1rem;
}

.product-page-content .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    width:33%;
    text-align: center;
}

.product-page-content .nav-tabs > li > a{
    background: #fff;
    color: #666;
}

.product-page-content .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background: #fff;
    color: #FCAEB1;
    border-radius: 0;
    padding: 5px 15px;
    border-bottom: 1px solid #FA6D72 !important;
}

.product-page-content .nav-tabs{
	border: none;
}

.item-btn{
	width: 100%;
    position: fixed;
    bottom: 5rem;
    z-index: 999;
}

.item-btn .canBuy{
	display: inline-block;
    width: 100%;
    height: 5rem;
    background: #FF9298;
    text-decoration: none;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
}

.item-btn .canNotBuy{
	display: inline-block;
    width: 100%;
    height: 5rem;
    background: #919191;
    text-decoration: none;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
}

.product-page-content {
    width: 100%;
    overflow: hidden;
    padding: 5px 13px 0;
    background-color: #fff;
    margin-top: 1rem;
}

.item-dialog{
	position: fixed;
    bottom: 0px;
    width: 95%;
}
.item-modal-body{
	height: 12rem;
}

.item-modal-img{
	display: block;
    width: 30%;
    height: 5rem;
    padding: 0.5rem;
    float: left;
    position: relative;
}

.item-modal-img img{
	position: absolute;
    bottom: 0.5rem;
    margin-left: 2rem;
    width: 100%;
}

.item-modal-value{
	display: inline-block;
    float: right;
    width: 70%;
    height: 7rem;
    padding: 1.5rem;
    text-align: right;
}

.item-modal-confirm{
	width: 100%;
	display: inline-block;
}

.item-modal-confirm a {
    display: inline-block;
    width: 100%;
    height: 5rem;
    background: #FF9298;
    text-decoration: none;
    line-height: 5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
}

.u-flyer {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	position: fixed;
	z-index: 9999;
}

.item-num-input{
	width: 100%;
    height: 80%;
    border: none;
    line-height: 100%;
}

.item-goods-quantity{
	width: 14rem;
    height: 4rem;
    background-size: 100%;
    display: inline-block;
    margin-top: 0.5rem;
}

.item-goods-quantity span{
	display: block;
	float: left;
	text-align: center;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.8rem;
}

.item-goods-quantity .minus{
	border:0.5px solid #D8D8D8;
	border-radius: 5px 0px 0px 5px !important;
	color:#FA6D72;
	width: 4rem;
}

.item-goods-quantity .txt{
	border-top:0.5px solid #D8D8D8;
	width: 6rem;
	border-bottom:0.5px solid #D8D8D8;
}

.item-goods-quantity .add{
	border:0.5px solid #D8D8D8;
	width: 4rem;
	border-radius: 0px 5px 5px 0px !important;
	color:#FA6D72
}

.item_flexslider .slides img{
	width: 60% !important;
    display: block;
    margin: 0 auto !important;
}

.border-top-show{
	border-top: 0.5px solid rgba(187, 187, 187, 0.15);
}

.border-bottom-show{
	border-bottom: 0.5px solid rgba(187, 187, 187, 0.15);
}

.product-page-content .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    width:33%;
    text-align: center;
}

.product-page-content .nav-tabs > li > a{
    background: #fff;
    color: #666;
}

.product-page-content .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background: #fff;
    color: #FCAEB1;
    border-radius: 0;
    padding: 5px 15px;
    border-bottom: 1px solid #FA6D72 !important;
}

.product-page-content .nav-tabs{
	border: none;
}

.main-hasBuy {
    background: url("../images/hasbuy.png") no-repeat;
    background-size: auto 15px;
    background-position: 0 0px;
    display: inline-block;
    height: 15px;
    width: 20px;
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -30px;
    text-align: center;
    z-index: 11;
}

.flex-control-paging li a {
    width: 8px;
    height: 8px;
}

.alltime {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    width: 15rem;
    background-color: #FFE4E8;
    color: #FF9298;
    font-size: 1.3rem;
    border-radius: 3px !important;
    text-align: center;
}

.height3 {
    height: 3rem;
    line-height: 3rem;
}

.overtime {
    display: none;
    height: 2rem;
    line-height: 2rem;
    width: 100%;
    background-color: #D8D8D8;
    color: #FFFFF;
    font-size: 1.3rem;
    border-radius: 5px !important;
    border: 0.5px solid #D8D8D8;
}

.forceFloatLeft {
    float: left !important;
}

.forceClearFloat {
	float:none !important;
}
