<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.org.oztt.dao.TReceiverInfoMapper" >
  <resultMap id="BaseResultMap" type="com.org.oztt.entity.TReceiverInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="receiverName" property="receiverName" jdbcType="VARCHAR" />
    <result column="receiverTel" property="receiverTel" jdbcType="VARCHAR" />
    <result column="receiverAddr" property="receiverAddr" jdbcType="VARCHAR" />
    <result column="receiverIdCardNo" property="receiverIdCardNo" jdbcType="VARCHAR" />
    <result column="receiverIdCardPhotoUrls" property="receiverIdCardPhotoUrls" jdbcType="VARCHAR" />
    <result column="customerId" property="customerId" jdbcType="VARCHAR" />
    <result column="deleteFlg" property="deleteFlg" jdbcType="CHAR" />
    <result column="addTimestamp" property="addTimestamp" jdbcType="TIMESTAMP" />
    <result column="addUserKey" property="addUserKey" jdbcType="VARCHAR" />
    <result column="updTimestamp" property="updTimestamp" jdbcType="TIMESTAMP" />
    <result column="updUserKey" property="updUserKey" jdbcType="VARCHAR" />
    <result column="updPgmId" property="updPgmId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, receiverName, receiverTel, receiverAddr, receiverIdCardNo, receiverIdCardPhotoUrls, 
    customerId, deleteFlg, addTimestamp, addUserKey, updTimestamp, updUserKey, updPgmId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_receiver_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_receiver_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.org.oztt.entity.TReceiverInfo" >
    insert into t_receiver_info (id, receiverName, receiverTel, 
      receiverAddr, receiverIdCardNo, receiverIdCardPhotoUrls, 
      customerId, deleteFlg, addTimestamp, 
      addUserKey, updTimestamp, updUserKey, 
      updPgmId)
    values (#{id,jdbcType=BIGINT}, #{receiverName,jdbcType=VARCHAR}, #{receiverTel,jdbcType=VARCHAR}, 
      #{receiverAddr,jdbcType=VARCHAR}, #{receiverIdCardNo,jdbcType=VARCHAR}, #{receiverIdCardPhotoUrls,jdbcType=VARCHAR}, 
      #{customerId,jdbcType=VARCHAR}, #{deleteFlg,jdbcType=CHAR}, #{addTimestamp,jdbcType=TIMESTAMP}, 
      #{addUserKey,jdbcType=VARCHAR}, #{updTimestamp,jdbcType=TIMESTAMP}, #{updUserKey,jdbcType=VARCHAR}, 
      #{updPgmId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.org.oztt.entity.TReceiverInfo" >
    insert into t_receiver_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="receiverName != null" >
        receiverName,
      </if>
      <if test="receiverTel != null" >
        receiverTel,
      </if>
      <if test="receiverAddr != null" >
        receiverAddr,
      </if>
      <if test="receiverIdCardNo != null" >
        receiverIdCardNo,
      </if>
      <if test="receiverIdCardPhotoUrls != null" >
        receiverIdCardPhotoUrls,
      </if>
      <if test="customerId != null" >
        customerId,
      </if>
      <if test="deleteFlg != null" >
        deleteFlg,
      </if>
      <if test="addTimestamp != null" >
        addTimestamp,
      </if>
      <if test="addUserKey != null" >
        addUserKey,
      </if>
      <if test="updTimestamp != null" >
        updTimestamp,
      </if>
      <if test="updUserKey != null" >
        updUserKey,
      </if>
      <if test="updPgmId != null" >
        updPgmId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="receiverName != null" >
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverTel != null" >
        #{receiverTel,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddr != null" >
        #{receiverAddr,jdbcType=VARCHAR},
      </if>
      <if test="receiverIdCardNo != null" >
        #{receiverIdCardNo,jdbcType=VARCHAR},
      </if>
      <if test="receiverIdCardPhotoUrls != null" >
        #{receiverIdCardPhotoUrls,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlg != null" >
        #{deleteFlg,jdbcType=CHAR},
      </if>
      <if test="addTimestamp != null" >
        #{addTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserKey != null" >
        #{addUserKey,jdbcType=VARCHAR},
      </if>
      <if test="updTimestamp != null" >
        #{updTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="updUserKey != null" >
        #{updUserKey,jdbcType=VARCHAR},
      </if>
      <if test="updPgmId != null" >
        #{updPgmId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.org.oztt.entity.TReceiverInfo" >
    update t_receiver_info
    <set >
      <if test="receiverName != null" >
        receiverName = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverTel != null" >
        receiverTel = #{receiverTel,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddr != null" >
        receiverAddr = #{receiverAddr,jdbcType=VARCHAR},
      </if>
      <if test="receiverIdCardNo != null" >
        receiverIdCardNo = #{receiverIdCardNo,jdbcType=VARCHAR},
      </if>
      <if test="receiverIdCardPhotoUrls != null" >
        receiverIdCardPhotoUrls = #{receiverIdCardPhotoUrls,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customerId = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlg != null" >
        deleteFlg = #{deleteFlg,jdbcType=CHAR},
      </if>
      <if test="addTimestamp != null" >
        addTimestamp = #{addTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserKey != null" >
        addUserKey = #{addUserKey,jdbcType=VARCHAR},
      </if>
      <if test="updTimestamp != null" >
        updTimestamp = #{updTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="updUserKey != null" >
        updUserKey = #{updUserKey,jdbcType=VARCHAR},
      </if>
      <if test="updPgmId != null" >
        updPgmId = #{updPgmId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.org.oztt.entity.TReceiverInfo" >
    update t_receiver_info
    set receiverName = #{receiverName,jdbcType=VARCHAR},
      receiverTel = #{receiverTel,jdbcType=VARCHAR},
      receiverAddr = #{receiverAddr,jdbcType=VARCHAR},
      receiverIdCardNo = #{receiverIdCardNo,jdbcType=VARCHAR},
      receiverIdCardPhotoUrls = #{receiverIdCardPhotoUrls,jdbcType=VARCHAR},
      customerId = #{customerId,jdbcType=VARCHAR},
      deleteFlg = #{deleteFlg,jdbcType=CHAR},
      addTimestamp = #{addTimestamp,jdbcType=TIMESTAMP},
      addUserKey = #{addUserKey,jdbcType=VARCHAR},
      updTimestamp = #{updTimestamp,jdbcType=TIMESTAMP},
      updUserKey = #{updUserKey,jdbcType=VARCHAR},
      updPgmId = #{updPgmId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectReceiveList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_receiver_info
    where customerId = #{customerId,jdbcType=VARCHAR}
    and deleteFlg = '0'
  </select>
  
  <select id="selectReceiveNewList" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from t_receiver_info
    where customerId = #{customerId,jdbcType=VARCHAR}
    <if test="keywords != null and keywords != '' ">
			and (receiverName like concat('%',#{keywords},'%') or receiverTel like concat(#{keywords},'%'))
	</if>
    and deleteFlg = '0'
  </select>
  
  <select id="selectReceiveNewListCount" resultType="int" parameterType="map" >
    select 
    count(1)
    from t_receiver_info
    where customerId = #{customerId,jdbcType=VARCHAR}
    <if test="keywords != null and keywords != '' ">
			and (receiverName like concat('%',#{keywords},'%') or receiverTel like concat(#{keywords},'%'))
	</if>
    and deleteFlg = '0'
  </select>
</mapper>